#commentsWP {
	float:left;
	width:250px;
}

#addAComment {
	border:1px solid #eee;
}

#addAComment:hover {
    background-color:#bcfc3d;
	cursor:pointer;
}

#commentsForm {
	display:none;
}

.comment {
	font:normal normal normal 12px Georgia, serif;
    background-color:#eee;
	color:#666;
	padding:5px;
	margin:10px 0px;
}

.comment:hover {
    background-color:#bcfc3d;
}

input#addComment {
	color:#666;
    background-color:#fff;
	border:1px solid #ccc;
}

input#addComment:hover {
    background-color:#bcfc3d;
}